<h1>Créditos</h1>

<p>
    Esta práctica ha sido modificada por Teresa del Río Cogolludo y Rafael Arias Gómez.
</p>
<p>
    <a href="https://github.com/rafaelteleco18/quiz_2017">https://github.com/rafaelteleco18/quiz_2017</a>
</p>
<img src="http://arias-delrio.neocities.org/Practica1/24.jpg" />
<img src="http://arias-delrio.neocities.org/Practica1/23.jpg" />

